body{
    background-color: rgb(212, 245, 243);
}

h1 {
    background-color: rgb(212, 245, 243);
    color: rgb(2, 2, 150);
    text-align: center;
    font-family: 'Arial', sans-serif;  
}

h2 {
    color: rgb(93, 30, 153);
    font-family: 'Arial', sans-serif;
    text-align: center; 
}

p {
    color: black;
    font-family: 'Arial', sans-serif;
    text-align: center;
    
}

ul {
    color: black;
    font-family:'Arial', sans-serif ;
}

nav {
    color: black;
}

h3 {
    text-align: center;
}

/* Boja za top navigation */
.topnav {
    background-color: rgb(0, 158, 158);
    overflow: hidden;
}

/* Uređivanje linkova unutar top navigation */
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
}

/* Boja za linkove kada kursor stoji iznad */
.topnav a:hover, .dropdown:hover .dropbtn{
    background-color: dodgerblue;
    color: white;
}

/* Boja kada kliknemo kursorom*/
.topnav a:active{
    background-color: navy;
    color: white;
}

/* Položaj za dropdown */
.dropdown{
    float: left;
    overflow: hidden;
}

/* Izgled unutar dropdown */
.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 10px 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Prikaz za submenu kada kurser lebdi iznad dropdowna*/
.dropdown:hover .submenu {
    display: block;
  }

/* Izgled za submenu*/
.submenu{  
    margin: 0;
    padding: 8px 12px;
    text-decoration: none;
    position: absolute;
    background-color:  rgb(0, 158, 158);
    display: none;
  }

/* Mijenja izgled liste unutar dropdowna */
  #NavMenu
  ul > li{
    list-style-type: none;
  }

.ListaZaSMP{
    text-align: center;
    list-style-type: none;
}

.VoditeljNaslova{
    text-align: center;
    list-style-type: none;

}