body{
    background-color: rgb(212, 245, 243);
}
h1 {
    background-color: rgb(212, 245, 243);
    color: rgb(2, 2, 150);
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    
}
h2 {
    color: rgb(93, 30, 153);
    font-family: 'Titillium Web', sans-serif;
    
}
p {
    color: black;
    font-family: 'Titillium Web', sans-serif;
}
ul {
    color: black;
    font-family:'Titillium Web', sans-serif ;
}
nav {
    color: black;
}
h3 {
    text-align: center;
}