body {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16pt;
}

#content {
  text-align: center;
}
#content ul {
  font-family: inherit;
  text-align: left;
  font-size: inherit;
  list-style-type: none;
  margin: 20px auto;
  padding: 0px;
  width: 350px;
}

.ExamplePicture {
  text-align: center;
  margin: 30px 12px 3px 4px;
  border: 2px;
  width: 500px;
}

.TaskContainer {
  align-content: center;
  width: 600px;
  margin: 200px auto;
}

.TaskContainerImg {
  width: inherit;
}
