body{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14pt;
}

.definicija{
  padding: 3mm;
  background-color: cyan;  
}

img{
    border-radius: 8px;
    max-width: 60%;
    max-height: 50%;
}


