body{
    background-color: beige;
}
h1 {
    background-color: beige;
    color: blue;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
h2 {
    color: blueviolet;
    font-family: 'Titillium Web', sans-serif;
}
p {
    color: black;
    font-family: 'Titillium Web', sans-serif;
}
ul {
    color: black;
    font-family:'Titillium Web', sans-serif ;
}
nav {
    color: black;
}